.hurricane {
  position: fixed;	        /* 设置fixed固定定位 */
  bottom: 0px;		/* 距离浏览器窗口下边框20px */
  right: 0px;		/* 距离浏览器窗口右边框20px */
}
.hurricane a {
  display: block;			/* 将<a>标签设为块元素，用于美化样式 */
  border: 1px solid #ccc;		/* 设置边框样式 */
  padding: 10px 20px;			/* 设置内边距 */
  border-radius: 5px;			/* 设置圆角矩形 */
}

.u-section-1 {
  background-image: url("images\Hurricane.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1370px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 180px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 22px;
}

.u-section-1 .u-text-2 {
  margin: 25px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 375px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 61px 337px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 495px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 104px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  min-height: 231px;
  grid-gap: 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-7 {
  width: 150px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 1px 7px 2px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-9 {
  width: 150px;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(137, 216, 227) !important;
  margin: 40px auto 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-11 {
  width: 150px;
  margin: 0 auto;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-weight: 700;
  width: 209px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-13 {
  width: 150px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 6px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 
button {
  background-color: #039AAA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
 
button:hover {
  opacity: 0.8;
}
 
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
 
.container {
  padding: 16px;
}
 
.center {
  margin: 0;
  position: absolute;
  top: -30%;
  left: -60%;
  -ms-transform: translate(0%, 0%);
  transform: translate(200%, 0%);
}
 
span.psw {
  float: right;
  padding-top: 16px;
}
 
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
 
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
 
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
 
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
 
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
 
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
 
 
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 237px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 408px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15.75px));
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 127px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 620px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}